.idea/*
cf-ad-service-dao/cf-ad-service-dao.iml
cf-ad-service-dao/target/*
cf-ad-service-service/target/*
cf-ad-service-client/target/*
*.iml
*.log
logs/*
target/*
infra.code-workspace
.env
data/
*/target/*
config-cache/*
